h1 {
color: darkgoldenrod;
}

h1 {
    text-decoration: underline;
}

h1 {
    text-shadow: 2px 2px 4px goldenrod;
}

h2 {
color: darkgoldenrod;
}

h3 {
    color: darkgoldenrod;
}
h4 {
    color: darkgoldenrod;
}

@font-face {
    font-family: Chapaza;
    src: url(Chapaza.ttf);
}

body {
    background-color: beige;
    font-family: Chapaza;
    src: url(Chapaza.ttf)
}

.story {
    width:auto; height:auto;
    border:solid darkgoldenrod;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
}

img {
    border-radius: 50%
}

img {
    max-width: 20%;
    height: auto;
}

img {
    float: outside;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:hover {background-color: darkgoldenrod;}

p {
    font-family: "Gill Sans", sans-serif;
}

a:link, a:visited {
    background-color: darkgoldenrod;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

a:hover, a:active {
    background-color: darkgoldenrod;
    box-shadow: black 2px 2px 5px;
}