h1 {
color: darkgoldenrod;
}

h1 {
    text-decoration: underline;
}

h1 {
    text-shadow: 2px 2px 4px goldenrod;
}

h2 {
color: darkgoldenrod;
}

h3 {
    color: darkgoldenrod;
}
h4 {
    color: darkgoldenrod;
}

body {
    background-color: beige;
}

img {
    border-radius: 50%
}

img {
    max-width: 20%;
    height: auto;
}

img {
    float: outside;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:hover {background-color: #f5f5f5;}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: darkgoldenrod;
}